* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: ghostwhite;
}
.container h1{
    text-align: center;
    font-size: 33px;
    font-family: monospace;
    margin-top: 2%;
    margin-bottom: 3%;
    /* min-height: 100vh; */
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#inner-box {
    margin: 3px 5px 6px 5px;
}
.landscape {
    width: 500px;
    height: 200px;
    background-color: rgb(194, 66, 226);
}
.portrait {
    width: 250px;
    height: 200px;
    background-color: indigo;
}
.lg-landscape {
    width: 700px;
    height: 200px;
    background-color: rgb(216, 36, 96);
}
.lg-portrait {
    width: 450px;
    height: 200px;
    background-color: lawngreen;
}
.sm-landscape {
    width: 250px;
    height: 200px;
    background-color: goldenrod;
}
.sm-portrait {
    width: 150px;
    height: 200px;
    background-color: rgb(105, 255, 255);
}
.xm-landscape {
    width: 380px;
    height: 200px;
    background-color: khaki;
}
.xm-portrait {
    width: 400px;
    height: 200px;
    background-color: rgb(250, 105, 8);
}
#inner-box-II {
    margin: 3px 5px 2px 3px;
}

footer {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
footer p {
    font-size: 20px;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    color: grey;
    transition: 2s ease-in-out;
}