* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    min-height: 100vh;
    margin-top: 1%;
}
body {
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #ff4757;
}
.fa-user {
    color: #fff;
}
header ul li {
    list-style-type: none;
}
.head-container {
    position: fixed;
    right: 0;
    left: 0;
    margin-top: -28px;
}
.list-items {
    display: flex;
}
.first {
    margin-top: 2%;
}
.second {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: -2%;
}
/* re-usable classes starts here */
.text-white {
    color: #fff;
}
.text-medium {
    font-size: 20px;
}
.w-12 {
    width: 120px;
}
.h-35 {
    height: 35%;
}
.w-20 {
    width: 400px;
}
.ml-5 {
    margin-left: 5%;
}
.w-12 {
    width: 250px;
}
.w-8 {
    width: 150px;
}
.ml-3 {
    margin-left: 3%;
}
.mb-3 {
    margin-bottom: 3%;
}
.w-5 {
    width: 194px;
}
.mt-4 {
    margin-top: 3%;
}
.mr-3 {
    margin-right: 5%;
}

.h-35 {
    height: 37%;
}
.md-sm-vid-grid {
    display: flex;
}
.w-15 {
    width: 200px;
    background-color: rgb(23, 228, 217);
}
.w-25 {
    width: 290px;
    background-color: rgb(15, 196, 228);
}
.mt-5 {
    margin-top: 7%;
}
.ml-13{
    margin-left: 13%;
}
.h-65 {
    height: 45%;
}
.ml-2 {
    margin-left: 2%;
}
.h-50 {
    height: 40%;
    background-color: rgb(14, 207, 143);
}
/* re-usable classes ends here */

/* Gallery grid */
.gallery-grid-container {
    display: inline-flex;
}
/* Gallery grid ends here */

/* third grid section starts here */
.two-in-row-folder-grid {
    display: flex;
}
.two-in-row {
    background-color: rgb(25, 104, 223);
}
.equal-box-grid {
    background-color: indigo;
}
.four-boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* third grid section ends */

/* second-grid-section starts */
.vid-container {
    width: 100%;
}
.lg-vid-grid {
    width: 500px;
    background-color: rgb(25, 211, 18);
}
/* second-grid-section ends */

/* first grid section starts */
.gallery.picture-grid {
    display: flex;
    width: 100%;
}
.equal-dims {
    display: flex;
}
.w-10 {
    width: 225px;
    background-color: rgb(178, 230, 38);
}
.h-25 {
    height: 120px;
}
.set {
    background-color: rgb(17, 226, 156);
}
.whole-rectangle-pic {
    background-color: rgb(130, 28, 226);
    height: 20%;
}
/* first section grid ends */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #ff4757;
}
::-webkit-scrollbar-thumb {
    background: #273c75;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #273c75;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: -4%;
    position: fixed;
    left: 0;
    right: 0;
}
footer p {
    font-size: 20px;
    color: black;
}
footer a:hover {
    color: aqua;
    transition: 1s ease-in;
}
footer a {
    color: #000;
}
